/*Colors used:
Primary blue: 2e5266
Light blue: 98c4cb
Black: 00001c
White: fffff5
Yellow: f4d58d
*/

* {
    box-sizing: border-box;
}

header {
    background-color: fffff5;
    color: #fffff5;
    text-align: center;
}
.css-box-shadow {
    /*start ------------*/
    position: fixed;
    width: 100%; 
    height: 100px; 
    background: #fffff5; 
    border: solid #00001c 1px; 
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5)  ; 
}
main {
    padding-top: 99px;

}

body {
    background-color: #fffff5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #00001c;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #00001c;

}
h2 {
    font-size: 1.75em;
    font-weight: 700;
    color: #00001c;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #00001c;
}
h4 {
    font-size: 1.35em;
    font-weight: 700;
    color: #00001c;
}
img {
    width: 100%;
    height: auto;
}


a:visited {
    color: #00001c;
}
a:hover {
    color: #98c4cb;
    text-decoration: underline;
}
a:active {
    color: #f4d58d;
}
a:focus {
    color: #00001c;
    text-decoration: underline;
}

.button {
    display:inline-block;
    background-color: #2e5266;
    color: #fffff5;
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
    border-bottom: 2px solid 98c4cb;
    border-radius: 3px;
    transition: 0.2s opacity;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    background-color: #98c4cb;
    color: #2e5266;
}
.button:focus {
    background-color: #00001c;
    color: #2e5266;
}
.button.contact {
    background-color: transparent;
    color: #2e5266;
    text-transform: uppercase;
    border: 2px solid #2e5266;
}
.button.contact:hover {
    background-color: #2e5266;
    color: #fffff5;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
/* Layout styliing */ 
.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0; /*25px top and bottom, 0 left and right*/
}
#work .row { 
    padding-bottom: 25px; 
    border-bottom: 1px solid #fffff5; 
}
#hero h1 {
    text-align: center; /* Centers text */
    color: #00001c;
    margin: 0;
    padding: 0.67em 0;
}
#hero span {
    display: block;
}

.center{
    text-align: center;
}

.logo {
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
nav {
    background-color: #fffff5;
    color: #00001c;
    text-align: center;
    display: inline-block;
    width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00001c;
}
nav > ul > li > a:visited {
    color: #2e5266;
} 
nav > ul > li > a:hover {
    color: #98c4cb;
    text-decoration: underline;
}
nav > ul > li > a:active {
    color: #f4d58d;
}
nav > ul > li > a:focus {
    color: #00001c;
    text-decoration: underline;
}
#hero {
    background-color: #fffff5;
    color: #00001c;
    padding: 20px 0;
    display: inline-block
    width: 100%;
}

/*Media Queries*/
/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 13px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top:4px;
    }
    .col-md-6 {
        width: 50%;
    }
}
/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {
    }
    
    /*Extra large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    }