/*Colors used:
Primary blue: 2e5266
Light blue: 98c4cb
Black: 00001c
White: fffff5
Yellow: f4d58d
*/
body {
    background-color: #fffff5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #00001c;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #00001c;
}
h2 {
    font-size: 1.75em;
    font-weight: 700;
    color: #00001c;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #00001c;
}
h4 {
    font-size: 1.35em;
    font-weight: 700;
    color: #00001c;
}
img {
    width: 100%;
    height: auto;
}


a:visited {
    color: #00001c;
}
a:hover {
    color: #98c4cb;
    text-decoration: underline;
}
a:active {
    color: #f4d58d;
}
a:focus {
    color: #00001c;
    text-decoration: underline;
}

.button {
    display:inline-block;
    background-color: #2e5266;
    color: #fffff5;
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
    border-bottom: 2px solid 98c4cb;
    border-radius: 3px;
    transition: 0.2s opacity;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    background-color: #98c4cb;
    color: #2e5266;
}
.button:focus {
    background-color: #00001c;
    color: #2e5266;
}
.button.contact {
    background-color: transparent;
    color: #2e5266;
    text-transform: uppercase;
    border: 2px solid #2e5266;
}
.button.contact:hover {
    background-color: #2e5266;
    color: #fffff5;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}